<!DOCTYPE html>

<head>
    <script src="./static/js/jquery-3.4.1.min.js"></script>
    <style>
        .skill-container {
            display: flex;
            justify-content: center;
        }

        .skill-tier-group {
            margin: 5pt;
        }

        .skill {
            display: flex;
        }

        .skill-selected {
            background: #7893a5;
        }

        img {
            margin: 2.5pt;
            padding: 5pt;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        body {
            background-color: #0b344d;
            font: 20pt sans-serif;
        }

        .result-link {
            display: flex;
            justify-content: center;
        }

        a {
            margin: 10pt;
            text-align: center;
            color: white;
        }
    </style>
</head>
<html>
<div class="skill-container">
    <div class="skill-tier-group">
        <div class="skill">
            <img src="./static/img/PT.png" data-skill="PT"/>
            <img src="./static/img/PM.png" data-skill="PM"/>
        </div>
        <div class="skill">
            <img src="./static/img/HA.png" data-skill="HA"/>
            <img src="./static/img/JOAT.png" data-skill="JOAT"/>
        </div>
        <div class="skill">
            <img src="./static/img/BOS.png" data-skill="BOS"/>
            <img src="./static/img/SE.png" data-skill="SE"/>
        </div>
        <div class="skill">
            <img src="./static/img/MFCSA.png" data-skill="MFCSA"/>
            <img src="./static/img/FP.png" data-skill="FP"/>
        </div>
    </div>
    <div class="skill-tier-group">
        <div class="skill">
            <img src="./static/img/EL.png" data-skill="EL"/>
            <img src="./static/img/AS.png" data-skill="AS"/>
        </div>
        <div class="skill">
            <img src="./static/img/EM.png" data-skill="EM"/>
            <img src="./static/img/TA.png" data-skill="TA"/>
        </div>
        <div class="skill">
            <img src="./static/img/TAE.png" data-skill="TAE"/>
            <img src="./static/img/AA.png" data-skill="AA"/>
        </div>
        <div class="skill">
            <img src="./static/img/IFHE.png" data-skill="IFHE"/>
            <img src="./static/img/SS.png" data-skill="SS"/>
        </div>
    </div>
    <div class="skill-tier-group">
        <div class="skill">
            <img src="./static/img/DCF.png" data-skill="DCF"/>
            <img src="./static/img/IEB.png" data-skill="IEB"/>
        </div>
        <div class="skill">
            <img src="./static/img/SSE.png" data-skill="SSE"/>
            <img src="./static/img/IE.png" data-skill="IE"/>
        </div>
        <div class="skill">
            <img src="./static/img/BFT.png" data-skill="BFT"/>
            <img src="./static/img/SI.png" data-skill="SI"/>
        </div>
        <div class="skill">
            <img src="./static/img/AFT.png" data-skill="AFT"/>
            <img src="./static/img/MAAF.png" data-skill="MAAF"/>
        </div>
    </div>
    <div class="skill-tier-group">
        <div class="skill">
            <img src="./static/img/IFA.png" data-skill="IFA"/>
            <img src="./static/img/LG.png" data-skill="LG"/>
        </div>
        <div class="skill">
            <img src="./static/img/AR.png" data-skill="AR"/>
            <img src="./static/img/LS.png" data-skill="LS"/>
        </div>
        <div class="skill">
            <img src="./static/img/DE.png" data-skill="DE"/>
            <img src="./static/img/VL.png" data-skill="VL"/>
        </div>
        <div class="skill">
            <img src="./static/img/RPF.png" data-skill="RPF"/>
            <img src="./static/img/CE.png" data-skill="CE"/>
        </div>
    </div>
</div>
<div class="result-link">
    <a href="" class="link">https://wows-captain-skill.herokuapp.com/0,0,0,0</a>
</div>
<script>
    skill_list = [
        ["PT", "PM", "EL", "AS", "DCF", "IEB", "IFA", "LG"],
        ["HA", "JOAT", "EM", "TA", "SSE", "IE", "AR", "LS"],
        ["BOS", "SE", "TAE", "AA", "BFT", "SI", "DE", "VL"],
        ["MFCSA", "FP", "IFHE", "SS", "AFT", "MAAF", "RPF", "CE"]
    ];
    var selected_skills = [];
    $(".skill img").click(function () {
        $(this).toggleClass('skill-selected');
        var imgSrc = "";
        imgSrc = $(this).attr('data-skill');
        console.log(imgSrc);
        if ($(this).hasClass('skill-selected')) {
            selected_skills.push(imgSrc);
        }
        else {
            const idx = selected_skills.indexOf(imgSrc);
            selected_skills.splice(idx, 1);
        }
        var bits_arr = [];
        $.each(skill_list, function (tier_index, skill_group) {
            var bits = [];
            $.each([0, 1, 2, 3, 4, 5, 6, 7], function (idx, x) {
                var s = [];
                $.each(selected_skills, function (u, c) {
                    var y = skill_group.indexOf(c);
                    if (y !== -1) {
                        s.push(skill_group.indexOf(c));
                    }
                });
                var y = s.indexOf(x);
                if (y !== -1) {
                    bits.push("1");
                }
                else {
                    bits.push("0");
                }
            });
            bits_arr.push(bits);
        });
        //console.clear();
        var g = [];
        $.each(bits_arr, function (o, p) {
            var b = "";
            $.map(p, function (n) {
                b += n;
            });
            g.push(parseInt(b, 2));
        });
        var img_url = "https://wows-captain-skill.herokuapp.com/" + g.join(',');
        $(".link").attr("href", img_url);
        $(".link").text(img_url);
        console.log(img_url);
    });
</script>

</html>